html {
    margin: 0;
    padding: 0;
    /* padding: 3rem; */
    font-family: League Spartan;
}

body {
    margin: 0;
    /* position: absolute; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
}

#paramour-splash {
    background-image: url("assets/home/mobile/image-hero-paramour.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 560px;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    /* position: relative; */
}

#paramour-splash h2 {
    color: white;
    font-size: 48px;
    letter-spacing: 1.2px;
    line-height: 48px;
}

#paramour-splash p {
    color: white;
    margin-bottom: 5rem;
    font-size: 18px;
    line-height: 24px;
}

button {
    background-color: black;
    height: 72px;
    width: 252px;
    color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

#welcome-arch-studio {
    height: 627px;
    margin-bottom: 5rem;
}

#welcome-arch-studio h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 1.71px;
    font-family: League Spartan;
    padding: 0 3rem;
}

#welcome-arch-studio p {
    font-size: 18px;
    line-height: 24px;
    color: #60636D;
    font-family: League Spartan;
    padding: 0 3rem;
}

#small-team-splash {
    background-image: url("assets/home/mobile/image-small-team.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 560px;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#small-team-splash h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 1.71px;
    color: white;
}

#featured h2 {
    margin-left: 3rem;
}

#project-del-sol {
    background-image: url("assets/portfolio/mobile/image-del-sol.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#z-228b-tower {
    background-image: url("assets/portfolio/mobile/image-228b.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#le-prototype {
    background-image: url("assets/portfolio/mobile/image-prototype.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#project-del-sol h2, #z-228b-tower h2, #le-prototype h2 {
    color: white;
    margin: 0;
    font-size: 32px;
    line-height: 40px;
    font-family: League Spartan;
}

#project-del-sol a, #z-228b-tower a, #le-prototype a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 24px;
    font-family: League Spartan;
}

#featured-button-container {
    /* display: flex; */
    margin: 0 3rem 0 3rem;
}

#featured-button-container button {
    display: flex;
    width: 100%;
}

#portfolio-index {
    margin-bottom: 5rem;
}

#seraph-station {
    background-image: url("assets/portfolio/mobile/image-seraph.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#eebox-building {
    background-image: url("assets/portfolio/mobile/image-eebox.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#federal-ii-tower {
    background-image: url("assets/portfolio/mobile/image-federal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#project-del-sol-2 {
    background-image: url("assets/portfolio/mobile/image-del-sol.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#le-prototype-2 {
    background-image: url("assets/portfolio/mobile/image-prototype.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#z-228b-tower-2 {
    background-image: url("assets/portfolio/mobile/image-228b.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#grand-edelweiss-hot {
    background-image: url("assets/portfolio/mobile/image-edelweiss.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#netcry-tower {
    background-image: url("assets/portfolio/mobile/image-netcry.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#hypers {
    background-image: url("assets/portfolio/mobile/image-hypers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#sxiv-tower {
    background-image: url("assets/portfolio/mobile/image-sxiv.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
}

#trinity-bank-tower {
    background-image: url("assets/portfolio/mobile/image-trinity.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
}

#project-paramour {
    background-image: url("assets/portfolio/mobile/image-paramour.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
}

#about-splash {
    background-image: url("assets/about/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#portfolio-index-gallery {
    color: white;
}

#portfolio-index-gallery h5, p {
    margin: 0;
}

#about-bar, #contact-bar {
    height: 45px;
    width: 90%;
    background-color: white;
}

#contact-splash {
    background-image: url("assets/contact/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

footer {
    height: 383px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

footer li {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 3rem;
}

#professionals, #heritage, #the-leaders, #tell-us, #contact-details, #connect {
    padding: 2rem;
    margin-bottom: 5rem;
}

#professionals h2, #heritage h2, #the-leaders, #tell-us h2, #contact-details h2, #connect h2 {
    font-size: 48px;
    line-height: 52px;
    /* text-align: center; */
    /* letter-spacing: -1.2px; */
}

#professionals p, #heritage p, #tell-us p {
    font-size: 18px;
    line-height: 24px;
}

#heritage p {
    margin-bottom: 1rem;
}

#leader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leader {
    margin-bottom: 5rem;
}

.leader h3 {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

.leader h5 {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.address h6 {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 1rem;
}

.address p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

#address-link {
    margin-top: 1rem;
    padding-left: 0;
    background-color: white;
    color: black;
    font-weight: 800;
}

#map {
    background-color: black;
    height: 367px;
    /* width: 375px; */
    width: 100%;
    margin-bottom: 3rem;
}

.connect-form {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding-bottom: 1rem;  
}

#black-box {
    margin-left: auto;
    height: 80px;
    width: 80px;
    background-color: black;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.open-menu {
    background-color: #EEEFF4;
    padding: 2rem 0;
    width: 90%;
    right: 0;
    position: absolute;
    margin-left: auto;
}

.hide {
    display: none;
}

.open-menu li {
    font-size: 32px;
    line-height: 40px;
    list-style-type: none;
    margin-bottom: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

header ul {
    display: none;
}

@media (min-width: 768px) {
    /* Styles for screens between 768px and 1024px wide */
    body {
      /* background-color: lightgreen; */
    }
    .hamburger-menu {
        display: none;
    }
    header {
        display: flex;
        /* background-color: red; */
    }
    header ul {
        display: flex;
        list-style-type: none;
        /* background-color: blue; */
        margin: 0 auto;
        width: 75%;
        justify-content: space-evenly;
    }
    #paramour-splash h2 {
        color: white;
        font-size: 96px;
        letter-spacing: -2px;
        line-height: 80px;
        margin-bottom: 0;
    }
    #paramour-splash p {
        color: white;
        margin-bottom: 3rem;
        font-size: 18px;
        line-height: 24px;
    }
    #welcome-arch-studio h2 {
        font-size: 72px;
        line-height: 64px;
        letter-spacing: -2px;
        font-family: League Spartan;
        padding: 0 3rem;
    }
    #welcome-arch-studio p {
        font-size: 18px;
        line-height: 24px;
        color: #60636D;
        font-family: League Spartan;
        padding: 0 3rem;
    }
    /* #welcome-arch-studio h3 {
        font-size: 120px;
        line-height: 200px;
        letter-spacing: -3px;
        font-family: League Spartan;
        padding: 0 3rem;
    } */
    #small-team-splash h2 {
        font-size: 72px;
        line-height: 64px;
        letter-spacing: 2px;
        color: white;
    }
    #featured h2 {
        font-size: 72px;
        line-height: 64px;
    }
    #featured-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #featured-container button {
        margin-right: 3rem;
        width: 169px;
        display: block;
    }
    #project-del-sol {
        background-image: url("assets/portfolio/tablet/image-del-sol.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        /* margin-left: 3rem; */
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    #z-228b-tower {
        background-image: url("assets/portfolio/tablet/image-228b.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #le-prototype {
        background-image: url("assets/portfolio/tablet/image-prototype.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    /* #project-del-sol h2, #z-228b-tower h2, #le-prototype h2 {
        color: white;
        margin-left: -2;
        font-size: 32px;
        line-height: 40px;
        font-family: League Spartan;
    } */
    #featured-button-container button {
        display: none;
    }
    footer {
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        text-align: center;
        padding: 0;
        width: 50%;
    }

    footer li {
        margin: 0 auto;
    }
    #logo-square {
        height: 120px;
        width: 120px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #featured, #portfolio-index-gallery {
        margin-bottom: 15rem;
    }

    #seraph-station {
        background-image: url("assets/portfolio/tablet/image-seraph.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #eebox-building {
        background-image: url("assets/portfolio/tablet/image-eebox.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #federal-ii-tower {
        background-image: url("assets/portfolio/tablet/image-federal.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #project-del-sol-2 {
        background-image: url("assets/portfolio/tablet/image-del-sol.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #le-prototype-2 {
        background-image: url("assets/portfolio/tablet/image-prototype.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #z-228b-tower-2 {
        background-image: url("assets/portfolio/tablet/image-228b.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #grand-edelweiss-hot {
        background-image: url("assets/portfolio/tablet/image-edelweiss.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #netcry-tower {
        background-image: url("assets/portfolio/tablet/image-netcry.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #hypers {
        background-image: url("assets/portfolio/tablet/image-hypers.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #sxiv-tower {
        background-image: url("assets/portfolio/tablet/image-sxiv.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;  
    }
    
    #trinity-bank-tower {
        background-image: url("assets/portfolio/tablet/image-trinity.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;  
    }
    
    #project-paramour {
        background-image: url("assets/portfolio/tablet/image-paramour.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 240px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;  
    }

    #portfolio-index-gallery h2 {
        color: white;
        font-size: 32px;
        line-height: 40px;
        margin: 0;
    }

    #portfolio-index-gallery p {
        color: white;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
    }

    #about-container, #contact-container {
        padding: 0 6rem;
    }
    #about-container header, #contact-container header {
        padding: 3rem 0rem;
    }

    #about-splash {
        background-image: url("assets/about/tablet/image-hero.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 720px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    }
    #about-bar, #contact-bar {
        display: none;
    }
    #about-text-box, #tell-us {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 431px;
        width: 572px;
        background-color: white;
        padding: 0 5rem 0 5rem;
    }

    #about-text-box h2 {
        font-size: 72px;
        line-height: 64px;
        letter-spacing: -2px;
    }

    #about-text-box p {
        font-size: 18px;
        line-height: 24px;
    }

    #professionals {
        display: none;
    }

    #heritage h2 {
        font-size: 72px;
        line-height: 64px;
        letter-spacing: -2px;
    }

    #leader-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    #contact-splash {
        background-image: url("assets/contact/tablet/image-hero.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 720px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    }
    #tell-us {
        margin-bottom: 0;
    }

    #tell-us h2 {
        font-size: 72px;
        line-height: 64px;
    }

    #tell-us p {
        font-size: 18px;
        line-height: 24px;
    }

    #contact-details h2 {
        font-size: 72px;
        line-height: 64px;
    }

    .address-content-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    #map {
        height: 560px;
        /* width: 100%; */
        margin: 0 auto;
    }

    #connect h2 {
        font-size: 72px;
    }

  }

